body {
  /* width: 1440px; */
  margin-left: auto;
  margin-right: auto;
  font-family: Roboto, sans-serif;
  color: var(--navy-blue);
  background-color: var(--white);
  letter-spacing: 0.02em;
  background-image: url(../images/IMG_2601.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
}
* {
  box-sizing: border-box;
}
.section {
  padding-bottom: 100px;
}
.container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}
:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: #2e2f42;
  --grey: #2e2f42;
  --white: #ffffff;
  --dairy: #fcfcfc;
}

/* reset -----start */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}
.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.link {
  color: currentColor;
  text-decoration: none;
  color: var(--navy-blue);
  letter-spacing: 0.02em;
}
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
button {
  font-family: inherit;
  color: currentColor;
  cursor: pointer;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
/* reset----- end */

/* --------body---------- */
/* header */
.header {
  background-color: rgba(244, 244, 253, 0.7);
  /* box-shadow: 0px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08); */
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  position: fixed;
  width: 100%;
}
.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.anchor {
}

.nav-list {
  display: flex;
  gap: 24px;
}
.nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
  display: inline-block;
}
.nav-link:hover,
.nav-link:focus {
}

/* --------- Section 1  ---------- */
.hero {
  padding-top: 100px;
  padding-bottom: 160px;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.article {
  font-weight: 700;
  text-align: center;
  padding-top: 100px;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 120px;
}
.title-article {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
}
.text {
  line-height: 1.5;
}
/* section Petros */

.article-two {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: left;
  color: var(--navy-blue);
  margin-bottom: 72px;
  padding-top: 40px;
}
.galary {
  background-color: rgba(198, 214, 237, 0.75);
  box-shadow: rgba(0, 0, 0, 0.45) 0px 45px 40px -20px;
}
/*------------ Slideshow container-------- */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  padding-top: 100px;
}
.galary-img {
  max-height: 400px;
  object-fit: cover;
}

/* Hide the images by default */
.mySlides {
  display: none;
  height: 400px;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: 13px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* section 3 */
.otzivi {
  background-color: rgba(204, 250, 253, 0.784);
}
